<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="mid360"
                 params="name parent *origin ros_topic frame">

        <link name="${name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 -0.0076"/>
                <mass value="0.270"/>
                <inertia
                        ixx="${(2*0.270)/5.0*(0.022*0.022)}" ixy="0.0" ixz="0.0"
                        iyy="${(2*0.270)/5.0*(0.022*0.022)}" iyz="0.0"
                        izz="${(2*0.270)/5.0*(0.022*0.022)}"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 -0.0076"/>
                <geometry>
                    <sphere radius="0.022"/>
                </geometry>
                <color rgba="0.0 0.0 0.5 0.5"/>
            </visual>

            <collision>
                <origin xyz="0 0 0.027" rpy="0 0 0"/>
                <geometry>
                    <box size="0.003 0.067 0.0165"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0 0.041 0.007" rpy="-1.04 0 0"/>
                <geometry>
                    <box size="0.003 0.055 0.024"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0 -0.041 0.007" rpy="1.04 0 0"/>
                <geometry>
                    <box size="0.003 0.055 0.024"/>
                </geometry>
            </collision>

            <collision>
                <origin xyz="0 0 0.027" rpy="0 0 0"/>
                <geometry>
                    <box size="0.067 0.003 0.0165"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.041 0 0.007" rpy="0 1.04 0"/>
                <geometry>
                    <box size="0.055 0.003 0.024"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.041 0 0.007" rpy="0 -1.04 0"/>
                <geometry>
                    <box size="0.055 0.003 0.024"/>
                </geometry>
            </collision>
        </link>

        <joint name="${name}_fixed" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}"/>
        </joint>
        <xacro:macro name="Livox_Mid_gazebo_sensor" params="name:=livox_laser">
        <gazebo reference="${name}">
        <sensor type="ray" name="laser_livox">
            <pose>0 0 0.0 0 0 0</pose>

            <visualize>true</visualize>
            <always_on>True</always_on>
            <update_rate>10</update_rate>
            <!-- This ray plgin is only for visualization. -->
            <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
                <ray>
                <scan>
                    <horizontal>
                        <samples>100</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.1415926535897931</min_angle>
                <max_angle>3.1415926535897931</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>50</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.1415926535897931</min_angle>
                <max_angle>3.1415926535897931</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>5</max>
                    <resolution>1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.0</stddev>
                </noise>
                </ray>
            <visualize>False</visualize>
                <samples>20000</samples>
                <downsample>1</downsample>
                <csv_file_name>mid360.csv</csv_file_name>
            <publish_pointcloud_type>2</publish_pointcloud_type>
                <ros_topic>${ros_topic}</ros_topic>
            <frameName>${frame}</frameName>
            </plugin>
        </sensor>
    </gazebo>
  </xacro:macro>
    <xacro:Livox_Mid_gazebo_sensor name="${name}"/>

    </xacro:macro>
</robot>
